#up {
  display: inline-block;
  width: 30px;
  height: 30px; }

#reduce {
  display: inline-block;
  width: 30px;
  height: 30px; }

#txt {
  display: inline-block;
  width: 30px;
  height: 30px; }

#content {
  width: 100%; }
  #content .content-del {
    display: table;
    margin-bottom: 10px;
    border: solid 1px #EEE;
    background-color: #FAFAFA;
    position: relative;
    z-index: 2; }
    #content .content-del .pic-goods {
    	position: relative;
      width: 360px;
      height: 360px;
      z-index: 1; }
       #content .content-del .pic-goods > img{
       	width: 100%;
       	height:100%;
       }
      #content .content-del .pic-goods span{
      	position:absolute;
      	width:180px;
      	height:180px;
      	background:rgba(255,255,255,.6);
      	display: none;
      }
      #content .content-del .pic-goods p{
      	width: 100%;
      	height: 100%;
      position: absolute;
      }
       #content .content-del .pic-goods .hidden{
       	position:absolute;
       	width: 360px;
      	height: 360px;
      	left: 380px;
      	top: 0;
      	overflow: hidden;
      	display: none;
       }
       #content .content-del .pic-goods .hidden .hidden-img{
       	position: relative;
       	width: 100%;
       	height: 100%;
       	overflow: hidden;
       }
       #content .content-del .pic-goods .hidden img{
       	position: absolute;
       	left: 0;
       	top: 0;
       	width: 720px;
      	height: 720px;
      	z-index: 3;
       }
      #content .content-del .pic-goods ul {
        overflow: hidden;
        height: 55px; }
        #content .content-del .pic-goods ul li {
          float: left;
          margin: 5px 5px 0 0; }
          #content .content-del .pic-goods ul li img {
            width: 46px;
            height: 46px;
            border: 2px solid #f0f0f0;
            cursor: pointer; }
    #content .content-del .info-goods {
      width: 622px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0; }
      #content .content-del .info-goods .name {
        padding: 15px 25px;
        min-height: 58px; }
        #content .content-del .info-goods .name h1 {
          font: 700 16px/21px "";
          color: #333;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          overflow: hidden; }
      #content .content-del .info-goods .intro {
      	
        overflow: hidden;
        padding: 15px 25px; }
        #content .content-del .info-goods .intro h3 {
          color: #666;
          margin: 12px 0; }
        #content .content-del .info-goods .intro h4 {
          color: #666;
          margin: 12px 0; }
        #content .content-del .info-goods .intro p {
          margin: 12px 0; }
          #content .content-del .info-goods .intro p #buy {
            font: lighter 16px/20px "";
            color: #FFF;
            text-align: center;
            display: inline-block;
            border: 0;
            padding: 6px 18px;
            margin-top: 20px;
            margin-right: 10px;
            border-radius: 3px;
            background-color: #D93600;
            box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.25);
            cursor: pointer; }
